
div.notFound {
  font-size: 48px;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  color: darkgrey;
  letter-spacing: 5px;
  animation-name: notfoundanimation;
  animation-duration: 3s;
}

.segmentedButtons {
  display: flex;
  justify-content: center;
  text-align: center;
  button {
    max-width: 300px;
    flex: 1;
  }

  button:focus {
    outline: none;
  }

  .activeSegmentedOption {
    background: rgba(152, 152, 152, 0.76);
  }

  .firstOption {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
  }

  .lastOption {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@keyframes notfoundanimation {
  from {
    color: grey;
    letter-spacing: 0px;
  }
  to{
    color: darkgrey;
    letter-spacing: 5px;
  }

}
