html {
    cursor: none;
    height: 100%;
    background: #fff;
}

body {
    height: 95%;
}

/* You can add global styles to this file, and also import other style files */
.cursor {
    width: 2rem;
    height: 2rem;
    border: 2px solid #000000;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    pointer-events: none;

    mix-blend-mode: difference;
    z-index: 1000;
    background: #fff;

}

.cursorSmall {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    pointer-events: none;

    mix-blend-mode: difference;
    z-index: 1000;
    background-color: #fff;
}